{% extends "base.html" %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="/static/css/transaction.css"
>
<link
    rel="stylesheet"
    href="/static/css/chatbot.css"
>

{% endblock %}

{% block content %}

<div class="chatbot-page">

    <!-- ========================= -->
    <!-- HERO HEADER -->
    <!-- ========================= -->

    <div class="chatbot-header">

        <div>

            <span class="section-tag">
                CHATBOT
            </span>

            <h1>
                Finbee Assistant
            </h1>

            <p>
                Tanyakan apa saja tentang transaksi, pengeluaran, pemasukan, dan kondisi keuangan Anda untuk mendapatkan insight secara instan.
            </p>

        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}

<script src="/static/js/chatbot.js"></script>

{% endblock %}