{% extends "base.html" %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="/static/css/transaction.css"
>
<link
    rel="stylesheet"
    href="/static/css/chatbot.css"
>

{% endblock %}

{% block content %}

<div class="chatbot-page">

    <!-- ========================= -->
    <!-- HERO HEADER -->
    <!-- ========================= -->

    <div class="chatbot-header">

        <div>

            <span class="section-tag">
                ANALYTICS CENTER
            </span>

            <h1>
                Analitik Keuangan
            </h1>

            <p>
                Analisis pola pemasukan dan pengeluaran, temukan tren keuangan, serta dapatkan prediksi dan insight berbasis Machine Learning untuk membantu pengambilan keputusan dan perencanaan finansial yang lebih cerdas.            </p>

        </div>

    </div>