{% extends "base.html" %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="/static/css/dashboard.css"
>
{% endblock %}

{% block content %}

{% include "partials/hero_card.html" %}

{% include "partials/filter_dashboard.html" %}

<div class="metrics-grid">

    <div id='metric-balance'>
        {% set title = "Saldo Saat Ini" %}
        {% set value = metrics.balance %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-total-income">
        {% set title = "Total Pemasukan" %}
        {% set value = metrics.total_income %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-total-expense">
        {% set title = "Total Pengeluaran" %}
        {% set value = metrics.total_expense %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-total-topup">
        {% set title = "Total Top Up" %}
        {% set value = metrics.total_topup %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-total-transaction">
        {% set title = "Banyak Transaksi" %}
        {% set value = metrics.total_transaction %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-avg-transaction">
        {% set title = "Avg Transaksi" %}
        {% set value = metrics.avg_transaction %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-avg-daily">
        {% set title = "Avg Harian" %}
        {% set value = metrics.avg_daily %}
        {% include "partials/metric_card.html" %}
    </div>

    <div id="metric-saving-rate">
        {% set title = "Saving Rate" %}
        {% set value = metrics.saving_rate %}
        {% include "partials/metric_card.html" %}
    </div>

</div>

<div class="dashboard-insights">

    {% include "partials/financial_health.html" %}

    {% include "partials/monthly_snapshot.html" %}

</div>

<div class="spending-alert-card">

    {% include "partials/spending_alert.html" %}

</div>

{% endblock %}

{% block extra_js %}
<script src="/static/js/dashboard.js"></script>

{% endblock %}