<div class="insight-card">

    <h3>
        Financial Health
    </h3>

    <div
        id="health-status"
        class="health-status"
    >
        {{ financial_health.icon }}
        {{ financial_health.status }}
    </div>

    <p id="health-saving-rate">
        Saving Rate:
        {{ financial_health.saving_rate }}%
    </p>

    <p id="health-expense-ratio">
        Expense Ratio:
        {{ financial_health.expense_ratio }}%
    </p>

    <span id="health-message">
        {{ financial_health.message }}
    </span>

</div>