<div class="hero-card">

    <div class="hero-content">

        <span class="hero-subtitle">
            FINANCIAL OVERVIEW
        </span>

        <h1 
            class="hero-title"
            id="hero-title"
            >
            Halo, {{ user_name }}
        </h1>

        <p class="hero-description">
            Kelola keuanganmu lebih cerdas bersama FinBee.
        </p>

        <div class="hero-actions">

            <a
                href="/transactions/page"
                class="hero-btn hero-btn-primary"
            >
                Tambah Transaksi
            </a>

            <a
                href="/analytics/page"
                class="hero-btn hero-btn-secondary"
            >
                Lihat Analitik
            </a>

        </div>

    </div>

</div>