<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            FinBee
        {% endblock %}
    </title>

    <link
        rel="icon"
        type="image/png"
        href="/static/images/FinBee Icon.PNG"
    >

    <link
        rel="stylesheet"
        href="/static/css/base.css"
    >

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

    {% block extra_css %}
    {% endblock %}

</head>

<body>

    {% include "partials/profile.html" %}

    <main class="page-container">

        {% block content %}
        {% endblock %}

    </main>

    <script
        src="/static/js/profile.js"
    >
    </script>

    {% block extra_js %}
    {% endblock %}

    <div id="success-toast" class="toast">
        <span id="toast-message"></span>
    </div>

</body>

</html>